.login_form_center
{
       color: #201f1f;
    height: 647px;
    width: 439px;
    border: 2px solid #b9b2b2;
    padding: 38px;
    transform: translate(80%,13%);

    border-radius: 14px;

}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    background: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    border-radius:5px;
        height: 38px;

    color:white;
}
input[type=submit]
{
    width:100%;
    height:50px;
    border: 2px solid #87e8fd;
    background:#0b5ed7;
}


}
body
{
  margin:0;
  padding:0;
  background:#2424ad;
}
label {
    display: inline-block;
    color: wheat;
}

